
md-toolbar.sidenav-toolbar {
  padding: 0 24px 0 24px;
  z-index: 3;
}

.sidenav-container, .sidenav-scrollbar-container {
  height: 100%;
}

md-sidenav {
  width: 100%;
  overflow-y: hidden;
}

.toggle-sidenav {
  position: absolute;
  left: -5px;
  top: 65px;
  transition: all .4s cubic-bezier(.25,.8,.25,1);;
  z-index: 1000;
  &.open {
    left: 230px;
  }
}

button[md-raised-button] {
  margin: 10px auto;
  width: 90%;
}

.sidenav-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  span {
    margin: auto;
  }
}


h4 {
  font-size: 16px;
}
