<td><img [src]="imageUrl || ''" (load)="loadImg($event)"></td>
<td>{{item.name}}</td>
<td>{{item.country}}</td>
<td>{{item.phone}}</td>
<td>{{item.address}}</td>
<td>{{item.lookingFor}}</td>
<td>{{item.email}}</td>
<td>
    <button md-raised-button [color]="'warn'"
            ngfbDialog
            [component]="component"
            (onDialogResult)="shouldEmployerBeDeleted($event)"
            [data]="
                {title: 'Delete this employer',
                msg: 'Are you sure you want to delete this employer from eployers list?', ok: 'Yes', err: 'No'}">
        Delete employer
    </button>
</td>