:host {
  background-color: rgba(211, 211, 211, 0.15);
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all .25s ease-in-out;
  position: fixed;
  top: 85px;
  bottom: 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}