@import "../../../../styles/_var";

:host {
  display: block;
  position: relative;
}

@keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeout {
  0% { opacity:1; }
  100% { opacity:0; }
}

.main-toolbar {
  background: #ffffff;
  position: relative;
  overflow-x: hidden;
  z-index: $z-index__main-toolbar;
  min-height: 80px;
  padding-top: 5px;
  .user-button {
    height: 100%;
    border-radius: 0;
  }

  button.fullscreen-toggle {
    border-radius: 0;
    padding: 0;
    min-width: 50px;
    max-width: 50px;
    height: 100%;
  }

  button.quickpanel-toggle {
    border-radius: 0;
    padding: 0;
    min-width: 75px;
    max-width: 75px;
    height: 100%;
  }
}

.title {
  text-transform: capitalize;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  white-space: nowrap;
}

.tname {
  text-transform: capitalize;
}

.quickpanel {
  z-index: 100;
  width: 330px;
  min-width: 330px;
  max-width: 330px;
}

.sidenav {
  width: $width__sidenav;
  max-width: $width__sidenav;
  background: $background-color__sidenav-list;
  overflow-x: hidden;
  z-index: $z-index__md-sidenav;
}

.main-container {
  overflow-y: auto;
  height: calc(100% - 70px);
}

header {
  padding: 0 10px;
  md-input-container {
    width: 100%;
    margin: 0 10px;
  }
  input {
    color: black;
  }
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.flex {
  width: 100%;
}

footer {
  background-color: #FFF;
  padding: 16px 24px 10px 24px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid lightgray;
}

table {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  thead {
    th {
      text-transform: capitalize;
      display: table-cell;
      vertical-align: middle;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      p {
        margin: 0;
      }
    }
  }

  tbody, tfoot {
    :host {
      display: block;
    }
    img {
      will-change: opacity;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
      opacity: 0;
      transition: opacity 1s;
    }
    td {
      text-align: center !important;
      max-width: 200px;
      height: auto;
      word-break: break-all;
    }
  }
}